<html>
<head>
    <title></title>
</head>
<body>
    <h1 align="center">输入单词</h1>
    <h1>
    <form align="center" action="showdict">
        <label></label>
        <input type="name" name="dep" style="width:240px; height:40px;font-size:32px;">
        <input type="name" name="arr" style="width:240px; height:40px;font-size:32px;">
        <input type="name" name="date" style="width:240px; height:40px;font-size:32px;">
        <input type="submit" value="查询" style="width:100px; height:40px;font-size:26px;">
    </form>
    </h1>
</body>
</html> 
